* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
  --swiper-theme-color: white !important;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  background-color: #e3e3e3;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10rem;
  background-color: #000;
  opacity: 0.8;
  z-index: 100;
}
.header .header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
  padding: 0 2rem;
}
.header .header-box .header__logo {
  font-size: 3.5rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}
@media screen and (max-width: 600px) {
  .header .header-box .header__logo {
    font-size: 2.5rem;
  }
}
.header .header-box .header__menu {
  display: flex;
  font-size: 1.6rem;
}
@media screen and (max-width: 1000px) {
  .header .header-box .header__menu {
    position: absolute;
    top: 10rem;
    left: -100%;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #000;
    transition: 0.3s;
  }
  .header .header-box .header__menu.active {
    left: 0;
  }
}
.header .header-box .header__menu li {
  list-style-type: none;
  width: 100%;
}
.header .header-box .header__menu li a {
  display: flex;
  align-items: center;
  height: 10rem;
  min-width: 7rem;
  position: relative;
  margin: 0 2.5rem;
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.3rem;
}
@media screen and (max-width: 1000px) {
  .header .header-box .header__menu li a {
    justify-content: center;
    height: 5rem;
    margin: 0;
  }
}
.header .header-box .header__menu li a:after, .header .header-box .header__menu li a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0.1rem;
  transition: all 0.3s ease-in;
  margin-top: 0.2rem;
}
.header .header-box .header__menu li a:after {
  bottom: 25%;
  left: 0;
}
@media screen and (max-width: 1000px) {
  .header .header-box .header__menu li a:after {
    bottom: 10%;
  }
}
.header .header-box .header__menu li a:before {
  top: 25%;
  right: 0;
}
@media screen and (max-width: 1000px) {
  .header .header-box .header__menu li a:before {
    top: 10%;
  }
}
.header .header-box .header__menu li a:hover:after {
  width: 100%;
  height: 0.2rem;
  bottom: 25%;
  background: #fff;
}
@media screen and (max-width: 1000px) {
  .header .header-box .header__menu li a:hover:after {
    bottom: 10%;
  }
}
.header .header-box .header__menu li a:hover:before {
  width: 100%;
  height: 0.2rem;
  top: 25%;
  background: #fff;
}
@media screen and (max-width: 1000px) {
  .header .header-box .header__menu li a:hover:before {
    top: 10%;
  }
}
.header .header-box .material-icons.hamburger {
  display: none;
}
@media screen and (max-width: 1000px) {
  .header .header-box .material-icons.hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    color: #fff;
    cursor: pointer;
    transition: 0.2s ease-in;
  }
  .header .header-box .material-icons.hamburger:hover {
    transform: scale(1.3);
  }
}

.homePage {
  position: relative;
  overflow: hidden;
  background-color: #000;
}
.homePage .homePage__video {
  opacity: 0.5;
  filter: brightness(50%) grayscale(20%);
  margin: 0 auto;
}
@media (min-aspect-ratio: 16/9) {
  .homePage .homePage__video {
    width: 100%;
    height: auto;
    min-height: 100vh;
  }
}
@media (max-aspect-ratio: 16/9) {
  .homePage .homePage__video {
    width: auto;
    height: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
  }
}
.homePage .homepage__textBox {
  position: absolute;
  top: 33%;
  left: 10%;
  max-width: 50%;
}
.homePage .homepage__textBox .textBox__title {
  font-size: 5.6rem;
  margin-bottom: 4rem;
  letter-spacing: 0.2rem;
}
@media screen and (max-width: 600px) {
  .homePage .homepage__textBox .textBox__title {
    font-size: 3rem;
  }
}
.homePage .homepage__textBox .textBox__desc {
  font-size: 1.8rem;
  margin-bottom: 3rem;
  letter-spacing: 0.1rem;
}
.homePage .homepage__textBox .textBox__btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
  font-size: 1.8rem;
  line-height: 2.1rem;
  padding: 0 3rem;
  background-color: #2b5379;
  color: #fff;
  letter-spacing: 0.1rem;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  border-radius: 10rem;
  text-align: center;
}
.homePage .homepage__textBox .textBox__btn:hover {
  filter: grayscale(1);
}
@media screen and (max-width: 600px) {
  .homePage .homepage__textBox .textBox__btn {
    font-size: 1.6rem;
  }
}

.news {
  padding: 3rem 2rem;
  background-color: #e3e3e3;
  color: #000;
  scroll-margin-top: 99px;
}
.news .news__title {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
}
.news .news__section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
.news .news__section .section__article {
  width: 350px;
  padding: 1rem 0.8rem;
  background-color: #fff;
}
.news .news__section .section__article .article__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem 0.5rem 0;
}
.news .news__section .section__article .article__info .info__date {
  width: 6rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: #2b5379;
  color: #fff;
  align-self: flex-start;
}
.news .news__section .section__article .article__info .info__icon {
  font-size: 5rem;
  color: #222831;
}
.news .news__section .section__article .article__title {
  font-size: 1.8rem;
  margin-bottom: 0.2rem;
  text-transform: uppercase;
}
.news .news__section .section__article .article__author {
  font-size: 1rem;
  margin-bottom: 1rem;
}
.news .news__section .section__article .article__text {
  font-size: 1.6rem;
  margin-bottom: 0.4rem;
}
.news .news__section .section__article .article__more {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.6rem;
  font-weight: bold;
  color: #2b5379;
  text-decoration: none;
}
.news .news__section .section__article .article__more:hover {
  color: #000;
}
.news .news__section .section__article .article__more .material-icons {
  display: flex;
  justify-content: center;
  padding-left: 0.5rem;
}

.trainers {
  background-image: url("../assets/neptun-logo-cutted.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  scroll-margin-top: 99px;
  background-color: #000;
}
.trainers .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-items: center;
  row-gap: 3rem;
  -moz-column-gap: 5rem;
       column-gap: 5rem;
  max-width: 89rem;
  padding: 5rem 2rem;
}
@media screen and (max-width: 600px) {
  .trainers .container {
    grid-template-columns: unset;
  }
}
.trainers .container .trainers__trainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 40rem;
  position: relative;
}
@media screen and (max-width: 600px) {
  .trainers .container .trainers__trainer {
    max-width: 30rem;
  }
}
.trainers .container .trainers__trainer .trainer__photo {
  display: block;
  width: 100%;
  filter: saturate(40%);
  opacity: 0.98;
  border-radius: 2rem;
}
.trainers .container .trainers__trainer .trainer__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
}
.trainers .container .trainers__trainer .trainer__overlay:hover {
  opacity: 1;
}
.trainers .container .trainers__trainer .trainer__overlay:hover > * {
  transform: translateY(0);
}
.trainers .container .trainers__trainer .trainer__overlay > * {
  transform: translateY(2rem);
  transition: transform 0.3s;
}
.trainers .container .trainers__trainer .trainer__overlay .trainer__title {
  font-size: 2.5rem;
  margin-bottom: 1.4rem;
}
@media screen and (max-width: 600px) {
  .trainers .container .trainers__trainer .trainer__overlay .trainer__title {
    font-size: 2rem;
  }
}
.trainers .container .trainers__trainer .trainer__overlay .trainer__description {
  font-size: 1.6rem;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .trainers .container .trainers__trainer .trainer__overlay .trainer__description {
    font-size: 1.4rem;
  }
}
.trainers .container .trainer__overlay--blur {
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

.theory {
  height: auto;
  background-color: #2d2d2d;
  color: #fff;
  scroll-margin-top: 99px;
  padding: 8rem 0;
}
@media screen and (max-width: 1000px) {
  .theory {
    height: 60rem;
  }
}
@media screen and (max-width: 600px) {
  .theory {
    height: 55rem;
  }
}
.theory .swiper {
  width: 100%;
  padding-bottom: 5rem;
}
.theory .swiper .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 32rem;
  height: 40rem;
}
@media (max-width: 400px) {
  .theory .swiper .swiper-slide {
    width: 28rem;
    height: 36rem;
  }
}
.theory .swiper .swiper-slide .theory__item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 32rem;
  height: 100%;
  background: #666666;
}
@media (max-width: 400px) {
  .theory .swiper .swiper-slide .theory__item {
    width: 28rem;
  }
}
.theory .swiper .swiper-slide .theory__item .item__title {
  font-size: 4rem;
  text-align: center;
}
@media (max-width: 400px) {
  .theory .swiper .swiper-slide .theory__item .item__title {
    font-size: 3rem;
  }
}
.theory .swiper .swiper-slide .theory__item .item__img {
  width: 9rem;
  height: 9rem;
  color: black;
}
@media (max-width: 400px) {
  .theory .swiper .swiper-slide .theory__item .item__img {
    width: 8rem;
    height: 8rem;
  }
}
.theory .swiper .swiper-slide .theory__item .item__text {
  font-size: 2rem;
  text-align: center;
}
@media (max-width: 400px) {
  .theory .swiper .swiper-slide .theory__item .item__text {
    font-size: 1.6rem;
  }
}
.theory .swiper .swiper-slide .theory__item .item__anchor {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
  font-size: 1.8rem;
  line-height: 2.1rem;
  padding: 0 3rem;
  background-color: #2b5379;
  color: #fff;
  letter-spacing: 0.1rem;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  border-radius: 10rem;
  text-align: center;
}
.theory .swiper .swiper-slide .theory__item .item__anchor:hover {
  filter: grayscale(1);
}
@media screen and (max-width: 600px) {
  .theory .swiper .swiper-slide .theory__item .item__anchor {
    font-size: 1.6rem;
  }
}
@media (max-width: 400px) {
  .theory .swiper .swiper-slide .theory__item .item__anchor {
    font-size: 1.4rem;
    height: 4.5rem;
    padding: 0 2rem;
  }
}
.theory .swiper .swiper-button-prev {
  left: 38%;
  top: 35%;
  right: auto;
  transition: 0.2s ease-in-out;
}
.theory .swiper .swiper-button-prev:hover {
  color: #007aff;
}
@media screen and (max-width: 1000px) {
  .theory .swiper .swiper-button-prev {
    left: 30%;
  }
}
@media screen and (max-width: 600px) {
  .theory .swiper .swiper-button-prev {
    left: 15%;
  }
}
.theory .swiper .swiper-button-next {
  right: 38%;
  top: 35%;
  left: auto;
  transition: 0.2s ease-in-out;
}
.theory .swiper .swiper-button-next:hover {
  color: #007aff;
}
@media screen and (max-width: 1000px) {
  .theory .swiper .swiper-button-next {
    right: 30%;
  }
}
@media screen and (max-width: 600px) {
  .theory .swiper .swiper-button-next {
    right: 15%;
  }
}

.schedule {
  display: flex;
  justify-content: space-between;
  background-color: #e3e3e3;
  color: #000;
  padding: 3rem 2rem 5rem 2rem;
  scroll-margin-top: 99px;
}
.schedule .schedule__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.schedule .schedule__content .content__title {
  font-size: 6rem;
  margin-bottom: 4rem;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .schedule .schedule__content .content__title {
    font-size: 4rem;
  }
}
.schedule .schedule__content .content__address {
  font-size: 2.3rem;
  text-align: center;
  margin-top: 3rem;
  color: #000;
  text-decoration: none;
}
@media screen and (max-width: 600px) {
  .schedule .schedule__content .content__address {
    font-size: 2rem;
  }
}
.schedule .schedule__content .content__address:after {
  content: "";
  width: 0;
  height: 0.2rem;
  display: block;
  background: #000;
  transition: 0.3s ease-in-out;
}
.schedule .schedule__content .content__address:hover:after {
  width: 100%;
}
.schedule .schedule__content .content__table {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}
.schedule .schedule__content .content__table .table__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
.schedule .schedule__content .content__table .table__column .column__day {
  font-size: 2.5rem;
  text-transform: uppercase;
}
@media screen and (max-width: 600px) {
  .schedule .schedule__content .content__table .table__column .column__day {
    font-size: 2rem;
  }
}
.schedule .schedule__content .content__table .table__column .column__square {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 28rem;
  height: 15rem;
  text-align: center;
  color: #fff;
  background: #666666;
}
@media screen and (max-width: 600px) {
  .schedule .schedule__content .content__table .table__column .column__square {
    width: 23rem;
    height: 12rem;
  }
}
.schedule .schedule__content .content__table .table__column .column__square:nth-child(odd) {
  background: #222831;
}
.schedule .schedule__content .content__table .table__column .column__square .square__time,
.schedule .schedule__content .content__table .table__column .column__square .square__group {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}
@media screen and (max-width: 600px) {
  .schedule .schedule__content .content__table .table__column .column__square .square__time,
.schedule .schedule__content .content__table .table__column .column__square .square__group {
    font-size: 1.6rem;
  }
}

.contact {
  padding: 0 3rem 5rem 3rem;
  background: #222831;
  scroll-margin-top: 99px;
  overflow-x: clip;
}
.contact .container {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1000px) {
  .contact .container {
    flex-direction: column;
    padding: 1rem 3rem;
    align-items: center;
  }
}
.contact .container .contact__details {
  margin-top: 11rem;
  padding-right: 1rem;
}
@media screen and (max-width: 1000px) {
  .contact .container .contact__details {
    margin-top: 2rem;
    padding-right: 0;
  }
}
.contact .container .contact__details .details__item {
  margin-bottom: 3rem;
}
.contact .container .contact__details .details__item .item__icon {
  font-size: 3rem;
  margin-right: 1rem;
}
@media screen and (max-width: 1000px) {
  .contact .container .contact__details .details__item .item__icon {
    font-size: 2.5rem;
  }
}
.contact .container .contact__details .details__item .item__data {
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: 0.1rem;
  color: #fff;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}
@media screen and (max-width: 1000px) {
  .contact .container .contact__details .details__item .item__data {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }
}
.contact .container .contact__details .details__item .item__data:hover {
  color: #2b5379;
}
.contact .container .contact__details .details__item .item__data:first-of-type {
  display: flex;
}
.contact .container .contact__map {
  margin-top: 2rem;
}
@media screen and (max-width: 1000px) {
  .contact .container .contact__map {
    width: 100%;
    margin-top: 0;
  }
}
.contact .container .contact__map iframe {
  width: 60rem;
  height: 45rem;
}
@media screen and (max-width: 1000px) {
  .contact .container .contact__map iframe {
    width: 100%;
  }
}

.theory.theoryPages {
  --swiper-navigation-size: 3rem;
  height: 25rem;
  padding: 13rem 0 5rem 0;
  background-color: #e3e3e3;
}
.theory.theoryPages .swiper .swiper-slide {
  width: 17rem;
  height: 10rem;
}
.theory.theoryPages .swiper .swiper-slide .theory__item {
  width: 17rem;
  height: 10rem;
  background-color: #2d2d2d;
}
.theory.theoryPages .swiper .swiper-slide .theory__item .item__title {
  font-size: 1.4rem;
}
.theory.theoryPages .swiper .swiper-slide .theory__item .item__anchor {
  height: 3.4rem;
  font-size: 1.4rem;
  padding: 0 2rem;
}
.theory.theoryPages .swiper .swiper-pagination .swiper-pagination-bullet {
  background-color: #000;
}
.theory.theoryPages .swiper .swiper-button-prev {
  left: 43%;
  top: 35%;
  right: auto;
  color: #007aff;
  transition: 0.2s ease-in-out;
}
.theory.theoryPages .swiper .swiper-button-prev:hover {
  color: #fff;
}
@media screen and (max-width: 1000px) {
  .theory.theoryPages .swiper .swiper-button-prev {
    left: 34%;
  }
}
@media screen and (max-width: 600px) {
  .theory.theoryPages .swiper .swiper-button-prev {
    left: 15%;
  }
}
.theory.theoryPages .swiper .swiper-button-next {
  right: 43%;
  top: 35%;
  left: auto;
  color: #007aff;
  transition: 0.2s ease-in-out;
}
.theory.theoryPages .swiper .swiper-button-next:hover {
  color: #fff;
}
@media screen and (max-width: 1000px) {
  .theory.theoryPages .swiper .swiper-button-next {
    right: 34%;
  }
}
@media screen and (max-width: 600px) {
  .theory.theoryPages .swiper .swiper-button-next {
    right: 15%;
  }
}

.theory-content {
  background-color: #e3e3e3;
  color: #2d2d2d;
  padding: 0 4rem;
  margin-bottom: 3rem;
}
.theory-content .content__title {
  font-size: 6rem;
  text-align: center;
  padding: 2rem 0;
  letter-spacing: 0.1rem;
}
@media screen and (max-width: 1000px) {
  .theory-content .content__title {
    font-size: 4.7rem;
  }
}
.theory-content .content__box {
  -moz-column-count: 2;
       column-count: 2;
  -moz-column-gap: 4rem;
       column-gap: 4rem;
}
@media screen and (max-width: 1000px) {
  .theory-content .content__box {
    -moz-column-count: auto;
         column-count: auto;
  }
}
.theory-content .content__box:first-of-type:first-letter {
  font-size: 4rem;
  font-weight: bold;
  font-family: Serif;
}
@media screen and (max-width: 1000px) {
  .theory-content .content__box:first-of-type:first-letter {
    font-size: 3.5rem;
  }
}
.theory-content .content__box .box__headline {
  font-size: 2.5rem;
  line-height: 3.5rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
}
@media screen and (max-width: 1000px) {
  .theory-content .content__box .box__headline {
    font-size: 2.2rem;
    line-height: 3rem;
  }
}
.theory-content .content__box .box__text {
  font-size: 1.8rem;
  line-height: 2.5rem;
  padding-bottom: 1rem;
}
@media screen and (max-width: 1000px) {
  .theory-content .content__box .box__text {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }
}
/*# sourceMappingURL=main.css.map */
