@use 'sass:color';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: $color-white;
  background-color: $color-lightGray;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}