$color-white: #fff;
$color-black: #000;
$color-mixedGray: #222831;
$color-lightGray: #e3e3e3;
$color-secondary: #2b5379;
//$color-buttonBg: #0477c6;

$breakpoint-tablet: 1000px;
$breakpoint-mobile: 600px;

$nav-offset-top: 100px;
