$color-white: #fff;
$color-black: #000;
$color-mixedGray: #222831;
$color-lightGray: #e3e3e3;
$color-mediumGray: #666666;
$color-darkGray: #2d2d2d;
$color-secondary: #2b5379;
$color-arrowHover: #007aff;
$color-circleInfo: #2a7ebf;
$color-triangleInfo: #e5bf04;
$color-swiperBtnBg: #aaa;

$breakpoint-tablet: 1000px;
$breakpoint-mobile: 600px;

$nav-offset-top: 99px;
