.aboutUs-1 {
  height: 80vh;
  background-image: url("../assets/IMG_6186compressed.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  .container {
    height: 100%;
    position: relative;

    .aboutUs-1__box {
      position: absolute;
      top: 0;
      left: 0;
      width: 40%;
      height: 100%;
      display: flex;
      align-items: center;
      background-color: $color-mixedGray;
      padding: 3rem;
      margin: 0 2rem;
      &[data-aos^=fade][data-aos^=fade].aos-animate {
        opacity: 0.9;
      }
      @include tablet {
        width: 55%;
      }
      @include mobile {
        top: auto;
        bottom: 0;
        width: 100%;
        height: auto;
        margin: 0;
        padding: 1.5rem;
      }

      .box__text {
        font-size: 2rem;
        line-height: 2.7rem;
        @include tablet {
          font-size: 1.6rem;
          line-height: 2.4rem;
        }
        @include mobile {
          font-size: 1.4rem;
          line-height: 2rem;
        }
      }
    }
  }
}

.aboutUs-2 {
  height: 85vh;
  background-image: url("../assets/kick-mirror-compressed.jpg");
  background-size: cover;
  background-position: top;
  background-attachment: fixed;

  .container {
    height: 100%;
    position: relative;

    .aboutUs-2__box {
      position: absolute;
      top: 0;
      right: 0;
      width: 40%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: $color-mixedGray;
      padding: 3rem;
      margin: 0 2rem;

      @include tablet {
        width: 55%;
      }
      @include mobile {
        top: auto;
        bottom: 0;
        width: 100%;
        height: auto;
        margin: 0;
        padding: 1.5rem;
      }

      &[data-aos^=fade][data-aos^=fade].aos-animate {
        opacity: 0.9;
      }

      .box__title {
        font-size: 2.5rem;
        line-height: 3.5rem;
        text-align: center;
        @include tablet {
          font-size: 2.2rem;
          line-height: 2.5rem;
        }
      }
      .box__list {
        font-size: 1.8rem;
        line-height: 2.4rem;
        padding-left: 0.5rem;
        @include tablet {
          font-size: 1.6rem;
          line-height: 2.4rem;
          padding-left: 2rem;
        }
        @include mobile {
          font-size: 1.4rem;
          line-height: 2rem;
        }
      }
    }
  }
}