.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10rem;
  background-color: $color-black;
  opacity: 0.9;
  z-index: 100;
  .header-box {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    .header__logo {
      img {
        height: 10rem;
      }
    }
    .header__menu {
      display: flex;
      font-size: 1.6rem;
      @include mobile {
        position: absolute;
        top: 10rem;
        left: -100%;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: $color-black;
        transition: .3s;
        &.active {
          left: 0;
        }
      }
      li {
        list-style-type: none;
        width: 100%;
        a {
          display: flex;
          align-items: center;
          height: 10rem;
          position: relative;
          font-weight: bold;
          margin: 0 3rem;
          color: $color-white;
          text-decoration: none;
          letter-spacing: 0.3rem;
          @include mobile {
            justify-content: center;
            height: 5rem;
            margin: 0;
          }
          &:after,
          &:before {
            content: "";
            position: absolute;
            width: 0;
            height: 0.1rem;
            transition: all 0.3s ease-in;
            margin-top: 0.2rem;
          }
          &:after {
            bottom: 25%;
            left: 0;
            @include mobile {
              bottom: 10%;
            }
          }
          &:before {
            top: 25%;
            right: 0;
            @include mobile {
              top: 10%;
            }
          }
          &:hover:after {
            width: 100%;
            height: 0.2rem;
            bottom: 25%;
            background: $color-white;
            @include mobile {
              bottom: 10%;
            }
          }
          &:hover:before {
            width: 100%;
            height: 0.2rem;
            top: 25%;
            background: $color-white;
            @include mobile {
              top: 10%;
            }
          }
        }
      }
    }
  }
}