.homePage {
  position: relative;
  padding-top: 10rem;
  overflow: hidden;
  .homePage__video {
    opacity: 0.5;
    filter: blur(3px);
    margin: 0 auto;
    @media (min-aspect-ratio: 16/9) {
      width: 100%;
      height: auto;
    }
    @media (max-aspect-ratio: 16/9) {
      width: auto;
      height: 100%;
      margin-left: 50%;
      transform: translateX(-50%);
    }
  }
  .homepage__textBox {
    position: absolute;
    top: 33%;
    left: 10%;
    max-width: 50%;
    .textBox__title {
      font-size: 5.6rem;
      margin-bottom: 4rem;
      letter-spacing: 0.2rem;
      text-shadow: 4px 4px 5px rgba(0, 0, 0, 1);
    }
    .textBox__desc {
      font-size: 1.8rem;
      margin-bottom: 3rem;
      letter-spacing: 0.1rem;
      text-shadow: 4px 4px 5px rgba(0, 0, 0, 1);
    }
    .textBox__btn {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      height: 6rem;
      font-size: 1.8rem;
      font-weight: bold;
      line-height: 2.1rem;
      padding: 0 3rem;
      background-color: $color-buttonBg;
      color: $color-white;
      letter-spacing: 0.1rem;
      text-decoration: none;
      transition: .2s ease-in-out;
      &:hover {
        filter: grayscale(1);
      }
    }
  }
}