.news {
  padding: 3rem 2rem;
  background-color: $color-lightGray;
  color: $color-black;
  scroll-margin-top: $nav-offset-top;

  .news__title {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
  }

  .news__section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;

    .section__article {
      width: 350px;
      padding: 1rem 0.8rem;
      background-color: $color-white;

      .article__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem 0.5rem 0;

        .info__date {
          width: 7rem;
          height: 3rem;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.2rem;
          background-color: $color-secondary;
          color: $color-white;
          align-self: flex-start;
        }

        .info__icon {
          font-size: 5rem;
          color: $color-mixedGray;
        }
      }

      .article__title {
        font-size: 1.8rem;
        margin-bottom: 0.2rem;
        text-transform: uppercase;
      }

      .article__author {
        font-size: 1rem;
        margin-bottom: 1rem;
      }

      .article__text {
        font-size: 1.6rem;
        margin-bottom: 0.4rem;
      }

      .article__more {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 1.6rem;
        font-weight: bold;
        color: $color-secondary;
        text-decoration: none;
        &:hover {
          color: $color-black;
        }

        .material-icons {
          display: flex;
          justify-content: center;
          padding-left: 0.5rem;
        }
      }
    }
  }
}