.news {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 2rem;
  color: $color-black;
  scroll-margin-top: $nav-offset-top;
  background-image: url("../../assets/rasz_L_przod2021.jpg");
  background-size: cover;
  background-position: center;

  .news__title {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
    color: $color-white;
    padding: 1rem 2rem;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 3rem;
  }

  .news__section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;

    .section__article {
      width: 35rem;
      padding: 1rem 0.8rem 2rem 0.8rem;
      background-color: $color-white;
      position: relative;

      .article__info {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: center;
        padding: 0 2rem 0.5rem 0;

        .info__date {
          width: 6rem;
          height: 3rem;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.2rem;
          padding: 1rem;
          background-color: $color-secondary;
          color: $color-white;
          align-self: center;
        }

        .info__icon {
          font-size: 3rem;
          margin-right: 2rem;
          padding: 1rem;
          color: $color-mixedGray;
          &.fa-triangle-exclamation {
            color: $color-triangleInfo;
          }
          &.fa-circle-info {
            color: $color-circleInfo;
          }
        }
      }

      .article__title {
        font-size: 1.8rem;
        margin-bottom: 0.2rem;
        text-transform: uppercase;
      }

      .article__author {
        font-size: 1rem;
        margin-bottom: 1rem;
      }

      .article__text {
        font-size: 1.6rem;
        margin-bottom: 1.4rem;
      }

      .article__more {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 1.6rem;
        font-weight: bold;
        color: $color-secondary;
        background-color: transparent;
        border: none;
        cursor: pointer;
        transition: .2s ease-in;
        position: absolute;
        bottom: 2%;
        right: 3%;
        &:hover {
          color: $color-black;
        }

        .material-icons {
          display: flex;
          justify-content: center;
          padding-left: 0.5rem;
        }
      }
    }
  }
  .news__modal {
    &.isHidden {
      display: none;
    }
    &.isActive {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 100;
      background-color: rgba(0, 0, 0, 0.7);
    }

    .modal__article {
      position: fixed;
      top: 50%;
      left: 20%;
      max-height: 100vh;
      overflow-y: scroll;
      transform: translate(-12%, -50%);
      padding: 2rem;
      background-color: $color-lightGray;

      .article__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem 0.5rem 0;

        .info__date {
          width: 6rem;
          height: 3rem;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.2rem;
          background-color: $color-secondary;
          color: $color-white;
          align-self: flex-start;
        }

        .exit-icon {
          font-size: 5rem;
          color: $color-mixedGray;
          transition: .2s ease-in;
          cursor: pointer;
          &:hover {
            color: $color-mediumGray;
          }
        }
      }

      .article__title {
        font-size: 1.8rem;
        margin-bottom: 0.2rem;
        text-transform: uppercase;
      }

      .article__author {
        font-size: 1rem;
        margin-bottom: 1rem;
      }

      .article__text {
        font-size: 1.6rem;
        margin-bottom: 0.4rem;
      }
    }
  }
}