.schedule {
  display: flex;
  justify-content: space-between;
  background-color: $color-lightGray;
  color: $color-black;
  padding: 5rem 2rem 10rem 2rem;
  scroll-margin-top: $nav-offset-top;

  .schedule__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .content__title {
      font-size: 6rem;
      margin-bottom: 1rem;
      text-align: center;
      @include mobile {
        font-size: 4rem;
      }

      .material-icons {
        font-size: 3rem;
        @include mobile {
          display: none;
        }
      }
    }

    .content__address {
      font-size: 2.3rem;
      text-align: center;
      margin-bottom: 4rem;
      color: $color-black;
      text-decoration: none;
      @include mobile {
        font-size: 2rem;
      }

      &:after {
        content: '';
        width: 0;
        height: 0.2rem;
        display: block;
        background: $color-black;
        transition: .3s ease-in-out;
      }

      &:hover:after {
        width: 100%;
      }
    }

    .content__table {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 3rem;

      .table__column {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;

        .column__day {
          font-size: 2.5rem;
          text-transform: uppercase;
          @include mobile {
            font-size: 2rem;
          }
        }

        .column__square {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 28rem;
          height: 15rem;
          text-align: center;
          color: $color-white;
          background: $color-mediumGray;
          box-shadow: 0 0 6rem 0.7rem rgb(66 68 90);
          animation: shadow 5s ease-in-out infinite alternate;
          @include mobile {
            width: 23rem;
            height: 12rem;
          }

          &:nth-child(odd) {
            background: $color-mixedGray;
          }

          .square__time,
          .square__group {
            font-size: 1.8rem;
            margin-bottom: 0.5rem;
            text-transform: uppercase;
            @include mobile {
              font-size: 1.6rem;
            }
          }
        }
      }
    }
  }
}

@keyframes shadow {
  100% {
    box-shadow: 0 0 6rem -5rem rgb(66 68 90);
  }
}