.theory.theoryPages {
  padding: 13rem 0 3rem 0;
  background-image: url("../assets/kick.jpg");
  background-size: cover;
  .swiper {
    .swiper-slide {
      width: 17rem;
      height: 10rem;
      .theory__item {
        width: 17rem;
        height: 10rem;
        background-color: $color-black;
        opacity: 0.8;
        border-radius: 2rem;
        .item__title {
          font-size: 1.4rem;
        }
        .item__anchor {
          height: 3.4rem;
          font-size: 1.4rem;
          padding: 0 2rem;
        }
      }
    }
    .swiper-pagination {
      .swiper-pagination-bullet {
        background-color: white;
      }
    }
  }
}

.theory-content {
  background-color: $color-lightGray;
  color: $color-black;

  .content__title {
    font-size: 3.5rem;
  }
  .content__headline {
    font-size: 2.5rem;
  }
  .content__text {
    font-size: 1.8rem;
  }
}