.theory {
  height: 700px;
  background-color: #2d2d2d;
  color: $color-white;
  scroll-margin-top: $nav-offset-top;
  @include mobile {
    height: 550px;
  }
  .theory__item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 320px;
    height: 100%;
    background: $color-mediumGray;
    .item__title {
      font-size: 4rem;
      text-align: center;
    }
    .item__img {
      width: 90px;
      height: 90px;
      color: black;
    }
    .item__text {
      font-size: 2rem;
      text-align: center;
    }
    .item__anchor {
      @include buttonStyle;
    }
  }
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 320px;
  height: 400px;
}