.theory {
  height: 600px;
  background-color: #2d2d2d;
  color: $color-white;
  scroll-margin-top: $nav-offset-top;
  .theory__item {
    width: 300px;
    background: peru;
    .item__title {
      font-size: 3rem;
    }
    .item__img {
      width: 60px;
      height: 60px;
      color: black;
    }
    .item__text {
      font-size: 2rem;
    }
    .item__anchor {
      @include buttonStyle;
    }
  }
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}